.tab {
  padding: 10px 20px;
  background-color: #d4cfcf; /* Light background color */
  color: black; /* Text color */
  border-radius: 5px;
  text-decoration: none; /* Remove the underline */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

 .tab:hover {
  background-color: #797777; /* Darker background on hover */
  color: black;
 } 


 .navbar {
  background-color: rgb(24, 63, 69) !important;
 }

 .logout {
  color: rgb(213, 50, 50);
 }

