.step3 .step {
  display: flex;
  justify-content: flex-start;
}

.step3 .container {
  background-color: #f9f9f9; 
  width: 40%;
}


/* Center the form on the page */
.step3 form {
  display: flex;
  justify-content: center;
}

/* The container holding the form elements */
.step3 .form_elements {
  width: 50%; /* Fixed width for the container */
  padding: 20px; /* Optional padding */
  background-color: #f9f9f9; /* Optional background color */
  border-radius: 8px; /* Optional border radius */
}

/* Style for each label and input pair */
.step3 label {
  display: flex;
  width: 100%; /* Ensures the label takes full width */
  margin-bottom: 10px; /* Optional spacing between inputs */
}